# סביבות עבודה של Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Node
node_modules/
*.tsbuildinfo

# קבצים זמניים
*.log
*.tmp
*.swp

# תוצרי בנייה
dist/
build/

# קבצי מערכת
.DS_Store
Thumbs.db
